.container-today {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  margin-left: -50px;
  margin-bottom: 50px;
}
.card-today {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(228, 28%, 20%);
  justify-items: center;
  grid-row-gap: 25px;
  width: 240px;
  height: 100px;
  padding: 40px;
  margin-right: 30px;
}
.card-today:hover {
  background-color: hsl(227, 9%, 38%);
}
.card-today h3 {
  font-size: 60px;
}
.card-today p {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .container-today {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 240px;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
}
